build/
VideoProcessingFramework/
opencv/
pycuda/
venv/
denemeler/
__pycache__/
assets/
Synthesia-clean/


CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

*.dll
*.mp3
*.mp4
*.wav
*.sf2
*.obj
*.ttf
*.h264
*.avi
*.mkv   
*.h265
*.png
*.jpg
*.mid
*.pyd

*.exe
*.lib
*.pdb
*.so
*.o
